<!--/**
* Created with week-3.
* User: DSW41923
* Date: 2014-05-10
* Time: 10:06 AM
* To change this template use Tools | Templates.
*/
define(function() {
return {};
});-->

<h1>Hello World! - <%= user %> & <%= userxyz %></h1>
<a href='/'>back home</a>